body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000000;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    margin: 0
}


code {
    font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace
}

.netflix-container {
    align-items: center;
    background-color: #000000;
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: hidden
}


.netflix-logo {
    animation: fadeIn .5s ease-in forwards;
    height: auto;
    opacity: 0;
    transform: scale(.8);
    width: 500px
}

.animate.netflix-logo {
    animation: zoomOut 3s ease-in-out forwards
}

@keyframes zoomOut {
    0%,80% {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(3);
    }
}


